<input type="checkbox"
  hidden
  #toggle>
<div class="hamburguer"
  (click)="toggle.click()"></div>
<div class="sidenav">
  <div class="container"
    [class.open]="toggle.checked">
    <div class="icon">&nbsp;</div>
    <div class="itens">
      <div class="item"
        *ngFor="let item of navigations"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        (click)="toggle.checked = false">
        <div class="item-icon"
          style="mask-image: url(./../assets/icons/{{item.icon}}.svg); -webkit-mask-image: url(./../assets/icons/{{item.icon}}.svg); ">
          &nbsp;</div>
        <label for="{{item.title}}">{{item.title}}</label>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="spacing">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
