:host {
  overflow: hidden;
  .hamburguer {
    @media screen and (max-width: 1200px) {
      mask-image: url(./../assets/icons/hamburguer.svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url(./../assets/icons/hamburguer.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      width: 50px;
      height: 50px;
      background-color: white;
      margin-left: 10px;
      margin-top: 10px;
      cursor: pointer;
      border: 2px solid white;
      border-radius: 5px;
    }
  }
  .sidenav {
    display: flex;

    .container {
      min-width: 150px;
      height: 100vh;
      overflow: auto;
      box-shadow: 0px 0px 15px 0px black;
      background: #ff646445;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .close {
        width: 30px;
        height: 30px;
        background-color: white;
        -webkit-mask-image: url(./../assets/icons/close.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
        mask-image: url(./../assets/icons/close.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;
      }

      @media screen and (max-width: 1200px) {
        width: 0px;
        min-width: unset !important;

        &.open {
          position: fixed;
          top: 0%;
          z-index: 100;
          background-image: linear-gradient(
            112.7deg,
            #5d01fb 1.37%,
            rgba(227, 5, 161, 0.7882352941) 98.36%
          );
          animation: animation-sidenav 0.5s;
          overflow: hidden;
          width: 100%;

          @keyframes animation-sidenav {
            0% {
              width: 0%;
            }
            100% {
              width: 100%;
            }
          }

          .close {
            display: block;
          }
        }
      }
      .itens {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        gap: 50px;
        min-height: 440px;
        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;
          font-size: 22px;

          @media screen and (max-width: 1200px) {
            margin: 0px 10px;
            border-radius: 10px;
            padding: 10px;
          }

          &.active,
          &:hover {
            border-left: 5px solid white;
            @media screen and (max-width: 1200px) {
              border-left: 0px;
              border: 5px solid white;
            }
          }

          .item-icon {
            height: 80px;
            width: 80px;
            margin: 0 auto;
            background-color: white;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
          }
        }
      }
      .icon {
        width: 100px;
        height: 100px;
        margin: 25px auto;
        background-image: url(./../assets/images/vortex.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        background-color: white;
        border: 2px solid #eb01a5;
        box-shadow: 0px 0px 15px 0px black;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 1000px;
      }
    }

    .content {
      height: calc(100vh - 80px);
      background-color: #ff646445;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0px 0px 15px 0px black;
      margin: 40px;
      width: 100%;

      @media screen and (max-width: 1200px) {
        margin: 20px;
        height: calc(100vh - 130px);
      }

      .spacing {
        padding: 20px;
        overflow: auto;
        height: 92vh;

        @media screen and (max-width: 1200px) {
          height: 86vh;
        }
      }
    }
  }
}
