html,
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: "dog";
  src: url(./assets/fonts/Nunito-VariableFont_wght.ttf);
}

* {
  font-family: "dog";
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #ffffff;

  &::selection {
    background-color: #e305a1c9;
    transition: all 0.5s;
    color: white;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 21px;
  
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: White;
  border-radius: 10px;


}

body {
  /*background-image: linear-gradient(112.7deg, #5d01fb 1.37%, #e305a1c9 98.36%);*/
  background-image: url(./assets/images/Wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #02060e;
}
